{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">

		{# <img src="{{asset('/uploads/images/prof-classe.png') }}" alt="" width="85%" height="60%"> #}
		{# <iframe title="test1BI - Page 1" width="1140" height="541.5" src="https://app.powerbi.com/view?r=eyJrIjoiMzY1NDMxZWMtMDllMi00ZDExLTk2MTYtM2E4YTg3NzM4NWM3IiwidCI6IjljNTIzZTY5LTE4NjgtNGYyOC04MjZhLTk5M2RkZjhmMzNhOCIsImMiOjl9" frameborder="0" allowfullscreen="true"></iframe> #}<iframe title="test1BI - Page 1" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiMzY1NDMxZWMtMDllMi00ZDExLTk2MTYtM2E4YTg3NzM4NWM3IiwidCI6IjljNTIzZTY5LTE4NjgtNGYyOC04MjZhLTk5M2RkZjhmMzNhOCIsImMiOjl9" frameborder="0" allowfullscreen="true"> </iframe>
	</div>
{% endblock %}
